@import url("~/assets/css/media.css");

.card {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	padding: 10px;
	overflow: hidden;
	font-size: var(--font-size-200);
	color: var(--color-text-100);
	text-overflow: ellipsis;
	white-space: nowrap;
	background-color: var(--second-blue);
	border: 1px solid var(--main-black);
	border-radius: 6px;
}

.title {
	font-size: var(--font-size-300);
	font-weight: bold;
}
